{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": $util.autoId()
  },
  "attributeValues": {
    "createdDate": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
    "guestbookId": $util.dynamodb.toDynamoDBJson($ctx.input.guestbookId),
    "message": $util.dynamodb.toDynamoDBJson($ctx.input.message),
    "author": $util.dynamodb.toDynamoDBJson($ctx.input.author)
  },
  "condition": {
    "expression": "attribute_not_exists(#id)",
    "expressionNames": {
      "#id": "id"
    }
  }
}
